<p style="color:blue;text-decoration:underline;" onclick="resetboard()">reset board</p>
<table id="checkerboard">
</table>

<script type="text/javascript">

var emptyloc = "https://cdn.shopify.com/s/files/1/0015/2485/8968/products/9_marijuana_1024x1024@2x.png?v=1575931748";
var redchecker = "https://upload.wikimedia.org/wikipedia/commons/thumb/0/02/Red_Circle%28small%29.svg/1024px-Red_Circle%28small%29.svg.png";
var bluechecker = "https://upload.wikimedia.org/wikipedia/commons/8/8e/Pan_Blue_Circle.png";
var bluesquare = "http://sohme.com/wp-content/uploads/2015/07/blue.png";
var redsquare = "https://cdn.huntoffice.co.uk/images/P.cache.large/M867_01.jpg";

// board state represents entire current game state
boardstate = [
  ["rc","e","rc","e","rc","e","rc","e"],
  ["e","rc","e","rc","e","rc","e","rc"],
  ["rc","e","rc","e","rc","e","rc","e"],
  ["e","e","e","e","e","e","e","e"],
  ["e","e","e","e","e","e","e","e"],
  ["e","bc","e","bc","e","bc","e","bc"],
  ["bc","e","bc","e","bc","e","bc","e"],
  ["e","bc","e","bc","e","bc","e","bc"],
];

// non board related game information
gamestate = { "teamup": "b", "initializedmovecos": "" }

// handle a click on an instrument (interpreted as intent to move to new board location)
function initializemove() {
  // check if the team up matches the color of the instrument selected
  // the indicies of the boardstate are the decomposed coordinated which comprise the id of the tile
  if(boardstate[this.id.split("")[0]][this.id.split("")[1]].charAt(0) == gamestate["teamup"]) {
    // save the id in the game state so that we can reference it for the tile swap after a void valid tile is selected
    gamestate["initializedmovecos"] = this.id;
  }
}
// handle a click on an empty space (if this occurs after an initialized move, the value of each cell will be swapped to simulate move)
function concludemove() {
  console.log(gamestate["initializedmovecos"]);
  if(gamestate["initializedmovecos"] == "") { return; }
  simulateinstrumentmove(this.id, gamestate["initializedmovecos"]);
  // check if either team has been able to cross the board, if so, update the instrument visual to be a square
  if(this.id.split("")[0] == 0 && boardstate[this.id.split("")[0]][this.id.split("")[1]] == "bc") { console.log("king blue"); boardstate[this.id.split("")[0]][this.id.split("")[1]] = "bs"; renderboard(); }
  if(this.id.split("")[0] == 7 && boardstate[this.id.split("")[0]][this.id.split("")[1]] == "rc") { console.log("king red"); boardstate[this.id.split("")[0]][this.id.split("")[1]] = "rs"; renderboard(); }
}
// simulating a move consists of swapping the contents of each game board tile (it is assumed that the proper rule logic has been checked proir to this)
function simulateinstrumentmove(co1, co2) {
  co1boardstatevalue = boardstate[co1.split("")[0]][co1.split("")[1]];
  boardstate[co1.split("")[0]][co1.split("")[1]] = boardstate[co2.split("")[0]][co2.split("")[1]];
  boardstate[co2.split("")[0]][co2.split("")[1]] = co1boardstatevalue;
  // update the teamup state var
  if(gamestate["teamup"] == "r") { gamestate["teamup"] = "b"; } else { gamestate["teamup"] = "r" }
  // check if piece has crossed the board entierly
  renderboard();
  // wipe record of initial move instrument selection
  gamestate["initialmovecos"] = "";
}
// render the checkerboard by translating the board representation 2d arr obtained from the server
function renderboard() {
  document.getElementById("checkerboard").innerHTML = "";
  for(var rowinc = 0; rowinc < 8; rowinc++) {
    var rowaddition = "<tr>";
    for(var colinc = 0; colinc < 8; colinc++) {
      // assemble id to reflact position on game board in addition to soley an identifier
      var id = String(String(rowinc) + String(colinc));
      // check the value of current cell's checker, output the correct image accordingly in the cell
      switch (boardstate[rowinc][colinc]) {
      case "rc":
        rowaddition += "<td><img onclick='initializemove.call(this)' id='" + id + "' src='" + redchecker + "' style='width:50px;height:50px' /></td>";
        break;
      case "bc":
        rowaddition += "<td><img onclick='initializemove.call(this)' id='" + id + "' src='" + bluechecker + "' style='width:50px;height:50px' /></td>";
        break;
      case "bs":
        rowaddition += "<td><img onclick='initializemove.call(this)' id='" + id + "' src='" + bluesquare + "' style='width:50px;height:50px' /></td>";
        break;
      case "rs":
        rowaddition += "<td><img onclick='initializemove.call(this)' id='" + id + "' src='" + redsquare + "' style='width:50px;height:50px' /></td>";
        break;
      default:
        rowaddition += "<td><img onclick='concludemove.call(this)' id='" + id + "' src='" + emptyloc + "' style='width:50px;height:50px' /></td>";
        break;
      }
    }
    rowaddition += "</tr>";
    document.getElementById("checkerboard").innerHTML += rowaddition;
  }
}
// detect browser close
window.addEventListener("beforeunload", function (e) {
  var confirmationMessage = "\o/";
  (e || window.event).returnValue = confirmationMessage;
  updateserversidestate();
  return confirmationMessage;
});
// format the current game and board states in JSON, pass to server with XHTTP to store the game for future use
function updateserversidestate() {
  var xmlhttp = new XMLHttpRequest();
  var updateendpoint = "/update_game_state";
  xmlhttp.open("POST", updateendpoint);
  xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
  xmlhttp.send(JSON.stringify({ "gamestate": gamestate, "boardstate": boardstate }));
}
// fetch the most recently stored game state
function loadmostrecentgamestatefromserver() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      console.log("200 response - updating ui to most recent state");
      boardstate = JSON.parse(this.responseText).state.boardstate;
      gamestate = JSON.parse(this.responseText).state.gamestate;
      renderboard();
    }
  };
  xhttp.open("GET", "/fetch_game_state", true);
  xhttp.send();
}
// reset board
function resetboard() {
  boardstate = [
    ["rc","e","rc","e","rc","e","rc","e"],
    ["e","rc","e","rc","e","rc","e","rc"],
    ["rc","e","rc","e","rc","e","rc","e"],
    ["e","e","e","e","e","e","e","e"],
    ["e","e","e","e","e","e","e","e"],
    ["e","bc","e","bc","e","bc","e","bc"],
    ["bc","e","bc","e","bc","e","bc","e"],
    ["e","bc","e","bc","e","bc","e","bc"],
  ];
  gamestate = { "teamup": "b", "initializedmovecos": "" }
  updateserversidestate();
  renderboard();
}

loadmostrecentgamestatefromserver();
renderboard();

</script>
